.title{
    color: goldenrod;
    font-family: 'Courier New', Courier, monospace;
}
.count{
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
}
.extra{
   
    font-size: 18px;
    color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
    font-weight: 550;

}
.back{
    background-color: rgb(31, 31, 106);
}
